.footer {
    font-size: $font-sign;
    display: flex;
    flex-flow: column;

    @include desktop {
        flex-flow: row wrap;
        align-items: center;    
    }
    
    &__item {
        display: flex;
        flex-direction: column;
        padding: 2em;
        box-sizing: border-box;
        transition: $delay-global;
        
        @include phablet {
            flex-direction: row;
            justify-content: space-around;
        }

        @include desktop {
            flex: 1 0 auto;
        }
    } 

    &__logo {
        height: 40px;
        transition: $delay-global;                

        @include phablet {
            height: auto;
        }
    }

    &__additional {
        margin-bottom: 1em;
        transition: $delay-global;        
        
        @include tablet {
            margin-bottom: 0; 
        }
    }

    &__title {
        margin: 0;
        padding-bottom: 1em;
        color: $color-sign_light;
        text-transform: uppercase;
        white-space: nowrap;
    }

    &__links {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    &__link {
        padding-bottom: 1em;
        color: $color-sign;
        white-space: nowrap;        
    }



    &__bottom {
        display: flex;
        box-sizing: border-box;
        background-color: $color-bg;
        padding: 1em 1em;
        justify-content: space-between;
        color: $color-sign_light;
        font-size: 0.8em;
        transition: $delay-global;        

        @include phablet {
            padding: 1em 3em;
            font-size: 0.9em;
        }

        @include tablet {
            font-size: 1em;
        }

        @include desktop {
            flex: 1 100%;
        }
    }

    &__copyright {
        flex: 1 1 auto;        
        transition: $delay-global;
    }

    &__social {
        flex: 0 0 auto;
    }

    &__icon {
        margin-right: 1em;
        transition: $delay-global;        
        
        &:last-child {
            margin-right: 0;
        }
        
        @include tablet {
            margin-right: 2em;   
        }

        @include desktop {
            margin-right: 3em;
        }
    }
}