/* COLOR VARIABLES */
$color-white:       #ffffff;
$color-gray:        #b1b1b1;

$color-text:        #4e4e4e;
$color-text_light:  #9c9c9c;
$color-sign:        #98b8f6;
$color-sign_light:  #95a9b1;
$color-title:       #518da3;
$color-title_light: #bbcada;
$color-menu:        #c1b2b1;
$color-bg:          #e8edef;

$color-chart_1:     #a8c1f3;
$color-chart_2:     #bfd4e8;
$color-chart_3:     #ffd2c3;


/* FONT SIZE VARIABLES */
$font-header: 100px;
$font-large:  30px;
$font-mid:    25px;
$font-sign:   20px;
$font-main:   18px;
$font-small:  16px;

$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Raleway', sans-serif;


// TRANSITIONS AND ANIMATIONS
$delay-global: 300ms;


/* BREAKPOINTS */
$min-height: 'max-height: 500px';
$phablet-width: '578px';
$tablet-width: '768px';
$desktop-width: '1024px';