
@mixin phablet {
    @media (min-width: $phablet-width) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: $tablet-width) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: $desktop-width) {
        @content;
    }
}


@mixin position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin position-center-reset {
    position: static;
    transform: none;
}


@mixin adaptive-padding-left ($mobile: 10px, $phablet: 30px, $tablet: 80px, $desktop: 150px) {
    @content;
    padding-left: $mobile;
    @include phablet {
        padding-left: $phablet;
    }
    @include tablet {
        padding-left: $tablet;
    }
    @include desktop {
        padding-left: $desktop;
    }
}

@mixin adaptive-margin-bottom ($mobile: 30px, $phablet: 50px, $tablet: 90px, $desktop: 140px) {
    @content;
    margin-bottom: $mobile;
    @include phablet {
        margin-bottom: $phablet;
    }
    @include tablet {
        margin-bottom: $tablet;
    }
    @include desktop {
        margin-bottom: $desktop;
    }
}

@mixin adaptive-padding ($mobile, $phablet, $tablet, $desktop) {
    @content;
    padding: $mobile;
    @include phablet {
        padding: $phablet;
    }
    @include tablet {
        padding: $tablet;
    }
    @include desktop {
        padding: $desktop;
    }
}