.button {
    display: inline-block;
    padding: 0.7em 2em;
    border: 2px solid $color-white;
    border-radius: 2em;
    background-color: rgba(255, 255, 255, 0.2);
    font-family: inherit;
    font-size: inherit;
    line-height: 1em;
    color: inherit;
    transition-duration: $delay-global;

    &:hover {
        background-color: rgba(255, 255, 255, 0.4);
        cursor: pointer;
    }

    &_nav {
        padding: 0.5em 1em;    
        border: 2px solid $color-menu;
        
        &:hover {
            background-color: $color-menu;
            color: $color-white;
        }
    }

    &_triangle {
        padding: 0;
        width: 3em;
        height: 3em;
        border-radius: 100%;

        &::before {
            content: url('../img/arrow-triangle.svg');
        }
    }
}
