@import '_nav';
@import '_button';

%header {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.header {
    height: 100vh;
    box-sizing: border-box;
    background-color: $color-bg;
    background-image: url('../img/header-bg.jpg');
    background-size: cover;
    padding: 50px;
    font-size: $font-mid;
    color: $color-white;

    @media ($min-height) {
        height: auto;
    }

    &__top {
        display: flex;
        align-items: center;
        padding: 2em;
        background-color: $color-white;
        font-size: $font-small;
        color: $color-menu;
    }

    &__logo-wrap {
        flex: 2 auto;
        text-align: left;
    }

    &__logo {
        height: 1.2em;
        color: $color-menu;
    }

    &__nav {
        flex: 1 auto;
    }

    &__greating {
        @include position-center;
        text-align: center;
        
        @media ($min-height) {
            @include position-center-reset;
            margin: 2em;
        }
    }

    &__title {
        @extend %header;
        padding-top: 10px;
        padding-bottom: 20px;
        font-size: $font-header;
        letter-spacing: 0.1em;
    }

    &__subtitle {
        @extend %header;
        letter-spacing: 0.2em;
        font-family: $font-secondary;
    }
}
