.nav {
    display: none;
    flex-flow: column;

    @include phablet {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }

    &_visible {
        display: flex;
    }

    &__menu {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        flex-flow: column;

        @include phablet {
            flex: 1 0 auto;
            flex-flow: row;
            justify-content: space-between;            
        }
    }

    &__item {
        padding: 0.5em 0;
        border-bottom: 1px dotted $color-menu;
        transition: $delay-global;        

        @include phablet {
            border: none;
        }
    }

    &__link {
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: $color-menu;
        transition: $delay-global;

        &:hover {
            color: $color-sign;
        }
    }

    &__search {
        display: flex;
        align-items: flex-end;
        font-size: 1.3em;
        padding-top: 0.5em;
        
        @include phablet {
            padding: 0;
            margin-left: 1em;
        }
    }
}
