.nav {
    display: none;
    flex-flow: column;

    @include phablet {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }

    &_visible {
        display: flex;
    }

    &__menu {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        flex-flow: column;

        @include phablet {
            flex: 1 0 auto;
            flex-flow: row;
            justify-content: space-between;            
        }
    }

    &__item {
        border-bottom: 1px dotted $color-menu;
        transition: $delay-global;        
        
        @include phablet {
            border: none;
        }
    }
    
    &__link {
        display: block;
        padding: 0.5em 0.7em;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: $color-menu;
        transition: $delay-global;
        
        &:hover {
            background-color: $color-menu;
            color: $color-white;
        }
    }

    &__search {
        display: flex;
        align-items: flex-end;
        font-size: 1.3em;
        padding-bottom: 0;
        
        @include phablet {
            padding: 0 0 0 0.4em;
            margin-left: 1em;
        }
    }
}
