<section class="about" id="about">

  <div class="about__content">
    <h2 class="title about__title">About</h2>
    <h3 class="about__subtitle">Home to everyone's best photos</h3>
    <p>
      Wild_ is a photo community and marketplace for discovering,
      sharing, buying, and selling inspiring photography powered by
      creative people around the world.
    </p>
    <p>
      In our community, you can share your photos worldwide. From mobile
      photographers to professionals, Wild_ has the products
      and features to take your photography to the next level.
    </p>
    <p>
      We are a photography community unlike any other. We help you
      to explore 50 million inspiring photos, to connect with other
      enthusiasts and to learn more about the craft.
    </p>
    <a href="#" class="more">Learn more</a>
  </div>

</section>
