<footer class="footer">

  <div class="footer__item">
    <img src="img/logo-footer.svg" alt="Wild_ logo" class="footer__logo">
  </div>

  <div class="footer__item">
    <div class="footer__additional">
      <h3 class="footer__title">Learn more</h3>
      <ul class="footer__links">
        <li class="footer__link-box">
          <a href="#" class="footer__link" >Tour</a>
        </li>
        <li class="footer__link-box">
          <a href="#" class="footer__link" >Customers</a>
        </li>
        <li class="footer__link-box">
          <a href="#" class="footer__link" >Pricing & Plans</a>
        </li>
        <li class="footer__link-box">
          <a href="#" class="footer__link" >New Features</a>
        </li>
        <li class="footer__link-box">
          <a href="#" class="footer__link" >Education</a>
        </li>
      </ul>
    </div>

    <div class="footer__additional">
      <h3 class="footer__title">About</h3>
      <ul class="footer__links">
        <li class="footer__link-box">
          <a href="#" class="footer__link">The Project</a>
        </li>
        <li class="footer__link-box">
          <a href="#" class="footer__link">Media</a>
        </li>
        <li class="footer__link-box">
          <a href="#" class="footer__link">Kit</a>
        </li>
        <li class="footer__link-box">
          <a href="#" class="footer__link">Jobs</a>
        </li>
        <li class="footer__link-box">
          <a href="#" class="footer__link">Blog</a>
        </li>
      </ul>
    </div>

    <div class="footer__additional">
      <h3 class="footer__title">Support</h3>
      <ul class="footer__links">
        <li class="footer__link-box">
          <a href="#" class="footer__link">Help Center</a>
        </li>
        <li class="footer__link-box">
          <a href="#" class="footer__link">Terms of Service</a>
        </li>
        <li class="footer__link-box">
          <a href="#" class="footer__link">Security</a>
        </li>
        <li class="footer__link-box">
          <a href="#" class="footer__link">Privacy Policy</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="footer__copyright">&copy; All rights reserved, 2018</div>
    <div class="footer__social">
      <a href="http://twitter.com" target="_blank" title="Follow us on Twitter" class="footer__icon"><span class="icon-twitter"></span></a>
      <a href="http://facebook.com" target="_blank" title="Follow us on Facebook" class="footer__icon"><span class="icon-facebook"></span></a>
      <a href="http://plus.google.com" target="_blank" title="Follow us on Google+" class="footer__icon"><span class="icon-gplus"></span></a>
    </div>
  </div>
</footer>
