<footer class="footer">

  <div class="footer__item">
    <div class="footer__logo">WILD_</div>
  </div>

  <div class="footer__item">
    <div class="footer__additional">
      <h3 class="footer__title">Learn more</h3>
      <ul class="footer__links">
        <li>
          <a href="#" class="footer__link">Tour</a>
        </li>
        <li>
          <a href="#" class="footer__link">Customers</a>
        </li>
        <li>
          <a href="#" class="footer__link">Pricing & Plans</a>
        </li>
        <li>
          <a href="#" class="footer__link">New Features</a>
        </li>
        <li>
          <a href="#" class="footer__link">Education</a>
        </li>
      </ul>
    </div>

    <div class="footer__additional">
      <h3 class="footer__title">About</h3>
      <ul class="footer__links">
        <li>
          <a href="#" class="footer__link">The Project</a>
        </li>
        <li>
          <a href="#" class="footer__link">Media</a>
        </li>
        <li>
          <a href="#" class="footer__link">Kit</a>
        </li>
        <li>
          <a href="#" class="footer__link">Jobs</a>
        </li>
        <li>
          <a href="#" class="footer__link">Blog</a>
        </li>
      </ul>
    </div>

    <div class="footer__additional">
      <h3 class="footer__title">Support</h3>
      <ul class="footer__links">
        <li>
          <a href="#" class="footer__link">Help Center</a>
        </li>
        <li>
          <a href="#" class="footer__link">Terms of Service</a>
        </li>
        <li>
          <a href="#" class="footer__link">Security</a>
        </li>
        <li>
          <a href="#" class="footer__link">Privacy Policy</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="footer__coryright">&copy; All rights reserved, 2018</div>
    <div class="footer__social">
      <a href="http://twitter.com" target="_blank" title="Follow us on Twitter"><span>tw</span></a>
      <a href="http://facebook.com" target="_blank" title="Follow us on Facebook"><span>fb</span></a>
      <a href="http://plus.google.com" target="_blank" title="Follow us on Google+"><span>g+</span></a>
    </div>
  </div>
</footer>
