<section class="gallery" id="gallery">
  <h2 class="title gallery__title">Gallery</h2>
  <div class="gallery__slider">

    <figure class="gallery__item">
      <img src="img/gallery-1.jpg" alt="Photo 1" class="gallery__image">
      <figcaption class="gallery__caption">
        <div class="gallery__name">Foam</div>
        <div class="gallery__date">Nov 9, 2015</div>
      </figcaption>
    </figure>
    item_1
    item_2
    item_3
    ...
    item_n
  </div>
  <a href="#" class="more gallery__more">Explore gallery</a>
  <div class="gallery__separator">X X X</div>
</section>
