<header class="header">

  <div class="header__top">
    <div class="header__logo-wrap">
      <img src="../img/logo-header.svg" alt="Wild_ logo" class="header__logo">
      <button type="button" class="button button_nav header__button">Menu</button>
    </div>
    <nav class="nav header__nav">
      <ul class="nav__menu">
        <li class="nav__item"><a href="#impress" class="nav__link">Home</a></li>
        <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
        <li class="nav__item"><a href="#gallery" class="nav__link">Gallery</a></li>
        <li class="nav__item"><a href="#journal" class="nav__link">Journal</a></li>
        <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
      </ul>
      <a href="#" title="Search on the site" class="nav__search nav__link">
        <span class="icon-search"></span>
      </a>
    </nav>
  </div>
  
  <div class="header__greating">
    <p class="header__subtitle">Let your life be an</p>
    <h1 class="header__title">Adventure</h1>
    <a class="button" href="#impress">Get inspired</a>
  </div>
  
  <div></div>

</header>
