<header class="header">
  <div class="header__top">
    <span class="logo">WILD_</span>
    <nav class="nav">
      <ul class"nav__menu">
        <li><a href="#home" class="nav__link">Home</a></li>
        <li><a href="#about" class="nav__link">About</a></li>
        <li><a href="#gallery" class="nav__link">Gallery</a></li>
        <li><a href="#journal" class="nav__link">Journal</a></li>
        <li><a href="#contact" class="nav__link">Contact</a></li>
      </ul>
      <span class="icon-search nav__search"></span>
    </nav>
  </div>

</header>
