<section class="impress" id="impress">

  <div class="impress__main">
    <h2 class="title impress__title">Impres&shy;sive</h2>
    <p class="impress__subtitle">Shots of the week.</p>
    <div class="author impress__author"><img src="img/author-bean.jpg" class="author__avatar" alt="Jonathan's photo">by Jonathan Bean</div>
  </div>

  <div class="impress__shots">
    <img src="img/photo-1.jpg" alt="Mountains" class="impress__big">
    <div class="impress__last">
      <div class="impress__row">
        <img src="img/photo-2.jpg" alt="Lake" class="impress__small">
        <img src="img/photo-3.jpg" alt="Night" class="impress__small">
      </div>
      <div class="impress__row">
        <img src="img/photo-4.jpg" alt="Horse" class="impress__small">
        <img src="img/photo-5.jpg" alt="Land" class="impress__small">
      </div>
      <a href="#" class="more">See all</a>
    </div>
  </div>

</section>
