<section class="journal" id="journal">
  <h2 class="title journal__title">Jour&shy;nal</h2>
  
  <div class="journal__stories">
    <div class="journal__number">
      714
    </div>
    <a href="#" class="more more_white">Shared stories</a>
  </div>
  
  <div class="journal__weekly">
    <h3 class="journal__subtitle">Weekly topics</h3>
    <p>Written by people like you</p>
    
    <div class="comment journal__comment">
      <h4 class="comment__title">The Summit</h4>
      <blockquote class="comment__quote">
        You only live once. A phrase adopted and since-overused by popular culture, it is actually rooted in truth. You should always
        be pushing your boundaries, striving for your most difficult goals, and scaring yourself every day with something new.
      </blockquote>
      <div class="author comment__author">Filip Osklen</div>
    </div>
    
    <div class="comment journal__comment">
      <h4 class="comment__title">Other Worldly</h4>
      <blockquote class="comment__quote">
        It’s rainy today; the fire in the stove is burning brightly. The house enfolds me in its lustrous timber walls with their
        fine scent of wood. It’s doing me good to be in Leis. I am just sitting here, quite still, looking.
      </blockquote>
      <div class="author comment__author">Rachel Robert</div>
    </div>
    
  </div>
  
  <div class="journal__skew"></div>
</section>
