<section class="media">

  <div class="media__row">
    
    <div class="media__video">
      <div class="media__watch">
        <button type="button" class="button button_triangle"></button>
        Watch the release video</div>
    </div>
  
    <div class="media__cell">
      <div class="media__join">
        <div class="media__header">
          <h3 class="media__title">Day by day</h3>
          <p class="media__subtitle">Adventure</p>
        </div>
        <blockquote class="media__comment ">
          With all the outstanding images and stories shared daily by our community, we wanted to create something that would let
          you tap into those reserves of inspiration.
        </blockquote>
        <div class="author media__author">Dana Galicia</div>
      </div>
      <div class="media__join">
        <div class="media__header">
          <h3 class="media__title">Let others see the beauty of the world captured by your eyes.</h3>
          <p class="media__subtitle">Be part of the community.</p>
        </div>
        <button class="button button_join">Join us</button>
      </div>
    </div>

  </div>


  <div class="media__item">
    <h3 class="media__title media__title_stretch">Featured stories</h3>
    <div class="story media__story">
      <div class="story__img"></div>
      <p class="story__title">Photography</p>
      <p class="story__name">A night to remebber</p>
      <p class="story__author">by Dana Galicia</p>
      <a href="#" class="more story__more">
        <span class="icon-arrow-right">more</span>
      </a>
    </div>
    <div class="story media__story">
      <div class="story__img"></div>
      <p class="story__title">Video</p>
      <p class="story__name">Little shots of happiness</p>
      <p class="story__author">by Leanne Whitney</p>
      <a href="#" class="more story__more">
        <span class="icon-arrow-right">more</span>
      </a>
    </div>
    <div class="story media__story">
      <div class="story__img"></div>
      <p class="story__title">Exposition</p>
      <p class="story__name">Nocturna</p>
      <p class="story__author">by Jake Verow</p>
      <a href="#" class="more story__more">
        <span class="icon-arrow-right">more</span>
      </a>
    </div>
  </div>

  <div class="media__item">
    <div class="media__explore">
      <p class="media__explore-uptitle">The story of each</p>
      <p class="media__explore-title">Place</p>
      <button class="button button_explore">Explore</button>
    </div>
  </div>

</section>
