@font-face {
	font-family: "wild-icons";
	src: url('../fonts/wild-icons.eot');
	src: url('../fonts/wild-icons.eot?#iefix') format('eot'),
		url('../fonts/wild-icons.woff2') format('woff2'),
		url('../fonts/wild-icons.woff') format('woff'),
		url('../fonts/wild-icons.ttf') format('truetype'),
		url('../fonts/wild-icons.svg#wild-icons') format('svg');
}

@mixin icon-styles {
	font-family: "wild-icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == facebook {
		$char: "\E001";
	}
	@if $filename == gplus {
		$char: "\E002";
	}
	@if $filename == right {
		$char: "\E003";
	}
	@if $filename == search {
		$char: "\E004";
	}
	@if $filename == twitter {
		$char: "\E005";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-facebook {
	@include icon(facebook);
}
.icon-gplus {
	@include icon(gplus);
}
.icon-right {
	@include icon(right);
}
.icon-search {
	@include icon(search);
}
.icon-twitter {
	@include icon(twitter);
}
